#title {
  text-align: center;
  font-family: arial, sans-serif;
}

#buah {
  text-align: left;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 2px solid rgb(0, 0, 0);
  width: 50%;
}

#buah td, #buah th {
  border: 1px solid rgb(0, 0, 0);
  padding: 8px;
}

#buah tr{background-color: #ee5439;}

#buah tr:hover {background-color: rgb(255, 255, 255);}

#buah th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color:#969eaf;
  color: rgb(0, 0, 0);
}